In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import pickle
from pandas_profiling import ProfileReport
import numpy as np

In [2]:
pip install pandas_profiling

Collecting pandas_profiling
  Downloading pandas_profiling-3.1.0-py2.py3-none-any.whl (261 kB)
Requirement already satisfied: PyYAML>=5.0.0 in c:\users\win\anaconda3\lib\site-packages (from pandas_profiling) (6.0)
Collecting joblib~=1.0.1
  Downloading joblib-1.0.1-py3-none-any.whl (303 kB)
Collecting tangled-up-in-unicode==0.1.0
  Downloading tangled_up_in_unicode-0.1.0-py3-none-any.whl (3.1 MB)
Collecting missingno>=0.4.2
  Downloading missingno-0.5.1-py3-none-any.whl (8.7 kB)
Requirement already satisfied: scipy>=1.4.1 in c:\users\win\anaconda3\lib\site-packages (from pandas_profiling) (1.7.1)
Requirement already satisfied: tqdm>=4.48.2 in c:\users\win\anaconda3\lib\site-packages (from pandas_profiling) (4.62.3)
Collecting phik>=0.11.1
  Downloading phik-0.12.2-cp39-cp39-win_amd64.whl (685 kB)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\win\anaconda3\lib\site-packages (from pandas_profiling) (1.3.4)
Collecting pydantic>=1.8.1
  Downloading pydantic-1.9.0-cp39-cp39-win_amd64.whl (2.1 MB)
Collecting htmlmin>=0.1.12
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
Requirement already satisfied: seaborn>=0.10.1 in c:\users\win\anaconda3\lib\site-packages (from pandas_profiling) (0.11.2)
Requirement already satisfied: matplotlib>=3.2.0 in c:\users\win\anaconda3\lib\site-packages (from pandas_profiling) (3.4.3)
Collecting visions[type_image_path]==0.7.4
  Downloading visions-0.7.4-py3-none-any.whl (102 kB)
Requirement already satisfied: numpy>=1.16.0 in c:\users\win\anaconda3\lib\site-packages (from pandas_profiling) (1.20.3)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\win\anaconda3\lib\site-packages (from pandas_profiling) (2.11.3)
Collecting multimethod>=1.4
  Downloading multimethod-1.7-py3-none-any.whl (9.5 kB)
Requirement already satisfied: requests>=2.24.0 in c:\users\win\anaconda3\lib\site-packages (from pandas_profiling) (2.26.0)
Collecting markupsafe~=2.0.1
  Downloading MarkupSafe-2.0.1-cp39-cp39-win_amd64.whl (14 kB)
Requirement already satisfied: networkx>=2.4 in c:\users\win\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (2.6.3)
Requirement already satisfied: attrs>=19.3.0 in c:\users\win\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (21.2.0)
Requirement already satisfied: Pillow in c:\users\win\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (8.4.0)
Collecting imagehash
  Downloading ImageHash-4.2.1.tar.gz (812 kB)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\win\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (3.0.4)
Requirement already satisfied: cycler>=0.10 in c:\users\win\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\win\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\win\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (2.8.2)
Requirement already satisfied: six in c:\users\win\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.2.0->pandas_profiling) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\win\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas_profiling) (2021.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\win\anaconda3\lib\site-packages (from pydantic>=1.8.1->pandas_profiling) (3.10.0.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\win\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\win\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\win\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (1.26.7)Note: you may need to restart the kernel to use updated packages.

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\win\\anaconda3\\Lib\\site-packages\\~arkupsafe\\_speedups.cp39-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

Requirement already satisfied: idna<4,>=2.5 in c:\users\win\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (3.2)
Requirement already satisfied: colorama in c:\users\win\anaconda3\lib\site-packages (from tqdm>=4.48.2->pandas_profiling) (0.4.4)
Requirement already satisfied: PyWavelets in c:\users\win\anaconda3\lib\site-packages (from imagehash->visions[type_image_path]==0.7.4->pandas_profiling) (1.1.1)
Building wheels for collected packages: htmlmin, imagehash
  Building wheel for htmlmin (setup.py): started
  Building wheel for htmlmin (setup.py): finished with status 'done'
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27098 sha256=858fe02e52cc6da4283451942dfa91832c460a9a6fc8c2eb94ea560cdfe97220
  Stored in directory: c:\users\win\appdata\local\pip\cache\wheels\1d\05\04\c6d7d3b66539d9e659ac6dfe81e2d0fd4c1a8316cc5a403300
  Building wheel for imagehash (setup.py): started
  Building wheel for imagehash (setup.py): finished with status 'done'
  Created wheel for imagehash: filename=ImageHash-4.2.1-py2.py3-none-any.whl size=295207 sha256=e3f6c80914a80aee56635736e85a6e6dc73c7ab1cc788a1da0f7d4aaad57fa64
  Stored in directory: c:\users\win\appdata\local\pip\cache\wheels\51\f9\a5\740af2fdb0ad1edf79aabdc41531be0b6f0b2e2be684c388cf
Successfully built htmlmin imagehash
Installing collected packages: tangled-up-in-unicode, multimethod, visions, markupsafe, joblib, imagehash, pydantic, phik, missingno, htmlmin, pandas-profiling
  Attempting uninstall: markupsafe
    Found existing installation: MarkupSafe 1.1.1
    Uninstalling MarkupSafe-1.1.1:
      Successfully uninstalled MarkupSafe-1.1.1

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/scikit-learn-videos/master/data/Advertising.csv')

In [4]:
df

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [8]:
df.head(10)

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9
5           6    8.7   48.9       75.0    7.2
6           7   57.5   32.8       23.5   11.8
7           8  120.2   19.6       11.6   13.2
8           9    8.6    2.1        1.0    4.8
9          10  199.8    2.6       21.2   10.6

In [7]:
df.tail()

     Unnamed: 0     TV  radio  newspaper  sales
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

In [9]:
df.describe()

       Unnamed: 0          TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [5]:
ProfileReport(df)

NameError: name 'ProfileReport' is not defined

In [11]:
pf = ProfileReport(df)

In [13]:
pf.to_widgets()

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=18.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render widgets'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [14]:
df

     Unnamed: 0     TV  radio  newspaper  sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [15]:
pf.to_file('test.html')

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [9]:
df

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [7]:
x = df[["TV"]]
x

        TV
0    230.1
1     44.5
2     17.2
3    151.5
4    180.8
..     ...
195   38.2
196   94.2
197  177.0
198  283.6
199  232.1

[200 rows x 1 columns]

In [11]:
y = df.Sales

In [28]:
y

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: sales, Length: 200, dtype: float64

In [6]:
from sklearn.linear_model import LinearRegression
linear = LinearRegression()

In [12]:
linear.fit(x,y)

LinearRegression()

In [13]:
linear.intercept_

7.032593549127693

In [14]:
linear.coef_

array([0.04753664])

In [34]:
file = 'linear_reg.sav'
pickle.dump(linear,open(file,'wb'))

In [16]:
linear.predict([[45]])

array([9.17174237])

In [39]:
l = [4,5,6,7,89,34,45,67,23]

In [42]:
for i in l :
    print(linear.predict([[i]]))

[7.22274011]
[7.27027675]
[7.31781339]
[7.36535003]
[11.26335455]
[8.64883932]
[9.17174237]
[10.21754846]
[8.12593628]

In [43]:
m = 0
b = 0

learning_rate = 0.001
for i in range(len(x)):
    x1 = x.iloc[0,:].values[0]
    y1 = y.iloc[0,:].values[0]
    guess = m * x1 + b
    error = y1 - guess
    m -= error * x1 * learning_rate
    b -= error * learning_rate
    print(error)

IndexingError: Too many indexers

In [44]:
def gd(x,y,n):
    m=6
    c=3
    alpha=0.8
    len=x.shape[0]
    for r in range(n):
        y_pred=m*x +c
        cost=(1/len)*((y_pred-y)**2).sum()
        print('cost is ',cost)
        m=m-(-alpha/len)*((y-y_pred)*x).sum()
        c=c-(-alpha/len)*((y-y_pred).sum())
        print('m,c is',m,c)
        if cost<1:
            plt.scatter(x,y)
            plt.plot(x,y_pred)

In [ ]:
file = 'linear_reg.sav'
pickle.dump(linear,open(file,'wb'))

In [45]:
saved_model = pickle.load(open(file,'rb'))

In [46]:
saved_model.predict([[45]])

array([9.17174237])

In [47]:
linear.score(x,y)

0.611875050850071